body{font-family: 'Cairo', sans-serif;}
.alert-primary {
    color: #0a6f79 !important;
    background-color: #cbeaedb0 !important;
    border-color: #cbeaed !important;
}
a{
	text-decoration: none;
}
a:hover {
    color: #0056b3;
   text-decoration: none !important;
}		
.form-control{
	    border: 1px solid #ced4da73 !important;
}
.box-shadow{
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 28%);
}
#logout{
	background-color:#0e98a1;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 28%);
	transition: .5s;

}
#logout:hover{
	background-color: #006a71;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
	transition: .5s;
}

.bg-whit{background-color: #fff;}
.navbar{padding: 1rem 1rem !important; }
.nav-item{margin:0px 5px;}

.jumbotron{
	background-image: url('../img/profile.jpg');
	position: relative;
}
.overflow{position:absolute;top:0px;left: 0px;background-color: #121111ad;width: 100%;height: 100%;padding: 10px 0px;}
.jumbotron .overflow .container{
	position: relative;
}
.jumbotron .overflow .container .beincenter{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.addinfo{background-color: #fff;overflow: hidden;}
.info{
	background-color: #fff;
	padding:20px 20px;
	margin: 10px 0px;
	border-radius: 5px;
}
.info input[type="file"]{
	display: none;
}
.info label[for="file"]{
	background-color: #d3de32;
    color: #fff;
    border-radius: 5px;
    padding: 9px 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 28%);
    border: 1px solid #dae53d;
    cursor: pointer;
    justify-content: center;
    display: flex;
}
.info input[type="submit"]{
	width: 100%;
    background-color: #006a71;
    color: #fff;
    border-radius: 5px;
    padding: 9px 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 28%);
    border: 1px solid #0fb5c0;
    cursor: pointer;
    justify-content: center;
    display: flex;
}
.info input[type="submit"]:hover{
	background-color: #0c9da7;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
	transition: .5s;
}
.info input[type="submit"]:foucs{
	background-color: #0c9da7;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
	transition: .5s;
	border: 1px solid #0fb5c0 !important;
}
.info input[type="submit"]:active{
	background-color: #0c9da7;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
	transition: .5s;
	border: 1px solid #0fb5c0 !important;

}
.info-user{
	background-color: #fff;
	padding:20px 20px;
	border-radius: 5px;
	margin: 10px 10px;
}


.info-user .image-profile{border-radius:120px; overflow: hidden;}
.info-user .image-profile img{width: 130px;height: 130px;border-radius: 160px;}
.info-user h5{color:#006a71;margin-top: 5px;margin-bottom: 5px;}

/* --------------------------index 2 ----------------------------*/

.bannar{
	position: relative;
	z-index: -1;
	background-image: url("../img/bannar.jpg");
	height: 300px;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.myprofile{
	padding: 10px 0px;
	background-color: #fff;
}
.profile-image{
	height: 200px;
	width: 210px;
	overflow: hidden;
	position: relative;
	top: -100px;
    z-index: 999;
}
.profile-image img{
	border-radius:120px; 
	overflow: hidden;
	border:4px solid #fff;
	width: 100%;
	height: 100%;	
}
.profile-detiles{
	width: 210px;
	left: 0px;
	position: relative;
	top: -100px;
    z-index: 999;
    margin: 2px 0px;
}
.profile-detiles h5{
	font-weight: bold;
	color: #006a71;
}
.profile-detiles p{
	color: #736d6d;
	font-size: 12px;
	margin-bottom:5px !important;
}
.profile-detiles span{
	padding: 2px 5px;
    background-color: #cbeaed;
    color: #857e7e;
    border-radius: 8px;
    border: 1px solid #c9f2f6;
}

.profile-info,.myaccont{
	position: relative;
	background-color:whitesmoke;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 28%);
	margin: 15px 0px;
}
.profile-info h5,.myaccont h5{
	background-color: #d3de32;
	color: #fff;
	font-size: 1rem;
	padding:10px 10px;
}
.profile-info h5 i,.myaccont h5 i{
	color: #fff;
	margin: 0px 10px;
}

.profile-info .saves{
	overflow: hidden;
	padding:0px 15px; 
}
.profile-info .saves .save{ 
	background-color: whitesmoke;
    padding: 10px 0px;
    border-bottom:1px solid rgb(241 241 241 / 100%);
    transition: .5s background-color;
}
.profile-info .saves .save:hover{
	background-color: rgb(241 241 241 / 100%);
	transition: .5s;
}
.btn-show{
	background-color:#0e98a1 !important;
	color: #fff !important;
}
.btn-show:hover{
	background-color: #006a71 !important;
}
.myaccont form{margin: 10px 10px;}
label[for="submit"]{opacity: 0;}


/* ------------------------- home page --------------------------*/
.objects{background-image:url("../img/background.png");padding: 5vw 0vw; }
.object{
	margin: 20px 0px;
}
.object-img img{
	width: 50px;
	height: 50px;
	position: relative;
    top: 50px;
 	transform: translate(0%,-29%);
}
.object-img{
	border-radius: 100px;
    height: 120px;
    width: 120px;
    margin: auto;
    cursor: pointer;
    transition: linear all .1s;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 28%);
}
.object-img:hover{
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
}
.object h5{
	color: #fff;
	font-size: 1rem;
	margin-top: 5px;
	font-weight: bold;
}
.ob1{background-color:rgb(255 131 83);}
.ob2{background-color: rgb(78 172 155);}
.ob3{background-color: rgb(77 145 255);}
.ob4{background-color: rgb(75 63 151);}
.ob5{background-color:rgb(189 77 144) ;}
.ob6{background-color:#dc3545;}
.ob7{background-color: rgb(242 200 74);}
.ob8{background-color: #7e008d;}

.objects form{margin:0% 25% 32px 25%}
.objects form .form-control{
	border-radius: 25px;
	padding: 1.5rem .75rem !important;
	border: none !important;
}
/* --------------------classe page ----------------------*/
.classe{
	background-image:url("../img/background.png");
	overflow: hidden;
	padding: 25px 0px;
}
.classe .btn-group a{color: #fff!important;}
.classe .btn-group .btn{
	padding: 1rem 2.75rem !important;
}
.btn-primary{
	background-color: #0e98a1 !important;
	border:1px solid #0e98a1 !important;
}
.btn-primary:hover{
	background-color: #066b72 !important;
	border:1px solid #066b72 !important;
}
.content{
	margin:15px 100px;
	background-color: #fff;
	overflow: hidden;
	padding: 10px 10px;
	border-radius: 5px;
}
.content .courses{
	overflow: hidden;
	padding:20px 50px;
}
.content .courses h5{
	color: #0e98a1;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #0e98a1;
    /* padding-bottom: 10px; */
    padding-bottom: 20px;
}
.content .courses .course span{
	background-color: #0d8e97;
    padding: 10px 15.5px;
    border-radius: 190px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 28%);
    color: #fff;
}
.content .courses .course .col-xl-11 a{
	font-size: 1.2rem;
	color: #111;
	padding-bottom: 2px;
	text-decoration: none;
	line-height:25px; 
}

.content .courses .course{
	margin-bottom: 30px;
}
.doros h5{
	color:#151515 !important;
	font-size: 1.1rem !important;
	margin-bottom: 30px !important;
    border-bottom: none !important;
    /* padding-bottom: 10px; */
    padding-bottom:0px !important;
}
.content .courses .course-half{
	margin-bottom:20px;

}
.content .courses .course-half .col-xl-11 a{
	font-size: 1rem;
	color: #111;
	padding-bottom: 2px;
	text-decoration: none;
	line-height:25px; 
}

.fa-youtube-play{color: red}
.content .courses .course-half .col-xl-1 {
    max-width: 3.333333% !important;
}
.course-page{
	overflow: hidden;
	padding:20px 50px;
}
.course-page h5{
	font-size: 1.2rem;
	color: #0d8e97;
}
.course-page .path a{
	font-size: .7rem;
	color: #7a6d6d;
}
.vedio-course video{
	width: 100%;
	border:none;
	 height: auto;
	 border-radius: 5px;
}
.vedio-course{
	margin: 15px 0px;
}
.watch-more h5{
	font-size: 1.2rem;
	color: #0d8e97;

}
.watch-more  .item{
	margin-bottom: 10px;
	margin-top: 10px;
	text-decoration: none !important;
	cursor: pointer;
	background: #c640ad;
    color: #fff;
    border-radius: 5px;
    padding: 25px 15px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 28%);
	transition: .2s;
}
.watch-more  a .item   span{
	font-size: 1rem;
	text-decoration: none;
	color: #fff;
}
.watch-more  .item:hover{
	background-color: #e513be;
	transition: .2s;
}
/*     ________________________________________________chat room _______________________________________________       */

.room-chat{
	background-color: #fff;
	overflow: hidden;
}
.room-chat .groups-chat{
	height: 500px;
}
.room-chat .groups-chat .row{
	cursor: pointer;
	background-color: #fff;
	overflow: hidden;
	padding:0px 0px;
	border-bottom: 1px solid #e7d6d6;

}
.room-chat .groups-chat .row:hover{
	background-color: #f1f1f1;
}
.room-chat .groups-chat .row .image-group{
	overflow: hidden;
	border-radius: 160px;
	margin: 6px 0px;
	
}
.room-chat .groups-chat .row .image-group img{
	width: 100%;
	padding: 10px 10px;

}
.room-chat .groups-chat .row .col-xl-5 h5{
	font-size: 1rem;
	    line-height: 53px !important;
}
.room-chat .groups-chat .row .col-xl-2 span{
	background-color: #4CAF50;
	color: #fff;
	font-size: 0.7rem;
	line-height: 53px !important;
	padding: 5px 3px;
	border-radius:160px;
}

.room-chat .chatMessage{
	border-right: 1px solid #e7d6d6;
	background-color: #fff;
	position: relative;
	padding-right:0px !important;
	

}
.chatMessage{

}
#scroll{
	overflow-y: scroll;
	height:510px;
	display: flex; 
	flex-direction: column-reverse;
}
#request-reponse{
	padding: 50px 0px; 
}
#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
	margin-left: 2px;
	width: 7px;
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.chatMessage #request-reponse .request{
	flex-direction: row-reverse;
	display: flex;
    align-items: flex-end;
    margin-right:10px;
    margin-left: 10px;
    position: relative;
    margin-bottom: 10px;
}
.chatMessage #request-reponse .reponse{
   	display: flex;
    align-items: flex-end;
    margin-right:10px;
    margin-left: 10px;
    position: relative;
    margin-bottom: 10px;
}
.chatMessage #request-reponse .reponse p{
	background-color:#0e98a1;
	width:auto;
	 padding: 15px 20px;
    border-radius: 27px;
	color: #fff;
	max-width: 400px;
}
.chatMessage #request-reponse  .request p{
	    background-color: #ede6e6;
    width: auto;
    padding: 15px 20px;
    border-radius: 27px;
    max-width: 400px;

}
.chatMessage #request-reponse .request .col-xl-10{
padding-right:0px !important;
}
.chatMessage #request-reponse .request .col-xl-2{
	overflow: hidden;
	padding-left:5px !important;
    padding-right:0px !important;
	
}
.chatMessage  #request-reponse .request .col-xl-2 img{
	width: 50px;
	height: 50px;
	border-radius: 160px;
}

.sendMessage{
	background-color:#f0f0f0;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 10px 0px;
}

.sendMessage form{
	margin-right: 10px;
	margin-left: 10px;
}
.sendMessage form i{
	font-size: 1.5rem;
	line-height: 40px;
}
.sendMessage form .col-xl-2 i{
	margin-left: 10px;
}
.sendMessage form .col-xl-9 textarea{
	width: 100%;
	border:none;
	border-radius: 30px;
	height: 40px;
}
.sendMessage form .col-xl-9 textarea:foucs{
	border:none !important;
}
.sendMessage form .col-xl-9 textarea:active{
	border:none !important;
}
.row-active{

	background-color: #f1f1f1 !important;	
}
.time_request{
	position: absolute;
	bottom: 0px;
	left: 70px;
	background-color:none;
	font-size: .8rem;
	color: #ede6e6;
	transition: .3s;
}
.time_reponse{
	position: absolute;
	bottom: -5px;
	right: 20px;
	background-color:none;
	font-size: .8rem;
	color: #ede6e6;
	transition: .3s;
}
.request:hover .time_request{
	color:#776868;
	transition: .3s;
}
.reponse:hover .time_reponse{
	color:#776868;
	transition: .3s;
}
.msg-img{
	width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}

